.startPageHeader {
    color: black;
    font-size: 40px;
    margin-top: 40px;

}

.startPageP {
    border: 3px solid black;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    padding: 15px;
    margin: 0;
}

.nav {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}
.nav ul{
    display: flex;
    list-style: none;
}

.nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;

}

.nav li a:hover {
    .nav li a:active {
        color: blue;
    }

    color: blue;
}


html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('images/nyhavn.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
